*{
  padding: 0%;
  margin: 0%;
  text-align: center;
}
body{
  background-color: rgba(255, 6, 201, 0.03);
  
}
.box{
  height: 18vmin;
  width: 18vmin;
  font-size: 5vmin;
  border: 1px solid gray ;
  border-radius: 5%;
}
.game{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3,18vmin);
  grid-gap: 10px;
  justify-content: center;

}

#new-btn{
   width: 25vmin;
   height: 10vmin;
   font-size: 2vmin;
  padding: 10px;
  margin-top: 10px;
  background-color: royalblue;
  color: aliceblue;
  border-radius: 5px;
  border: solid 2px black;

}
.winner {
  background-color: royalblue !important;
  color: white !important;
  box-shadow: 0px 0px 2px black;
}
.draw{
  background-color: black !important;
  color: white !important;
  box-shadow: 0px 0px 2px black;
}

button:disabled{
  background-color: white;
  color: black;;
}
button{
  cursor: pointer;
}
#msg{
  box-shadow: 0px 4px 5px black;
  font-size: 1rem;
  padding: 5px;
}
h1 {
  padding: 10px;
  font-family: 'Proxima', sans-serif; /* 'sans-serif' as a fallback */
  font-weight: bolder;
  font-size: 2rem;
color: royalblue;
}
#reset-btn{
  margin: 5px;
  padding: 5px;
}
#volumeControl{
  grid-column: 1/4;
}
@media screen and (max-width:750px) {
  .box{
    height: auto;
    width:auto;
    font-size: 5vmin;
    border-radius: 5px;
  }
  .game{
    padding:30% 0px 60px 0px;
    display: grid;
    grid-template-columns: repeat(3,100px) !important;
    grid-template-rows:repeat(4,100px) 40px!important;
    grid-gap: 10px;
    justify-content: center;
  
  }

  
  
}
